<!-- Herede -->
{% extends './template.html' %}
<!-- Cambiar Titulo -->
{% block title %}Iniciar Sesion{% endblock %}
<!-- Logo Reutilizable -->
{% block logo %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_login.png') }}">
{% endblock %}
<!-- Css Reutilizable -->
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Definir Bloque body -->
{% block body %}
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-xl-6 col-md-6 d-xl-flex d-md-flex d-none  block_1 justify-content-center align-items-center">
            <div class="col-5">
                <!-- <img class="mb-4 img-fluid" src="{{ url_for('static', filename='img/banner_login.png') }}"
                    alt="Imagen Logo Hear App"> -->
            </div>
        </div>
        <div class="col-xl-6 col-md-6 block_2 d-flex justify-content-center align-items-center">
            <form class="" action="/login-income" method="POST">
                <div>
                    <h5 class="d-flex align-items-center gap-2 font_1">
                        <div class="circle"></div> HEAR APP
                    </h5>
                    <h1 class="text-start font_1">Iniciar Sesi&oacute;n</h1>
                    <p class="text-start font_2">¡Ingresa para explorar un mundo de posibilidades!</p>
                    {% with messages = get_flashed_messages() %}

                    {% if messages %}
                    <br />
                    {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                
                    {% endwith %}
                    <div>   
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="code" placeholder="name@example.com">
                            <label for="floatingInput">Codigo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                            <label for="floatingPassword">Contraseña</label>
                        </div>
                        <div>
                            <button class="w-100 btn btn-lg btn-float d-flex justify-content-center align-items-center gap-1" type="submit">
                                Ingresar  <i class='bx bx-right-arrow-alt'></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}