blinker==1.8.2
breadability==0.1.20
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docopt==0.6.2
Flask==3.0.3
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
lxml==5.2.2
MarkupSafe==2.1.5
mysqlclient==2.2.4
nltk==3.8.1
numpy==1.24.4
PyAudio==0.2.14
pycountry==24.6.1
regex==2024.5.15
requests==2.32.3
SpeechRecognition==3.10.3
SQLAlchemy==2.0.30
sumy==0.11.0
tqdm==4.66.4
typing_extensions==4.12.1
urllib3==2.2.1
Werkzeug==3.0.3
WTForms==3.1.2
zipp==3.19.2
