:root {
  --main-bg-color: #000;
  --main-text-color: #ADA8FF;
  --second-text-color: #fff;
  --second-bg-color: #F6F8FA;
  --text-purple: #ADA8FF;
}

a{
  text-decoration: none;
  color: #000;
}
.text-color-sidebar{
  color: var(--second-bg-color);
}
.body {

  font-family: "Montserrat", sans-serif;
}
.swal2-popup {
  text-align: center !important; /* Alinea el texto al centro */
  /* Agrega otros estilos personalizados según sea necesario */
}
.border-left-primary {
  border-left: .25rem solid var(--main-bg-color) !important;
}
.font_one {
  font-family: "Montserrat", sans-serif;
}
.font_two {
  font-family: "Fjalla One", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.font_three {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.font_three {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-purple {
  color: var(--main-text-color);
}

.primary-text {
  color: var(--main-bg-color);
}

.second-text {
  color: var(--second-bg-color);
}



.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;

}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background: var(--main-bg-color);
}

#sidebar-wrapper .sidebar-heading {
padding-left: 10px;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  border-left: 1px solid #D9D9D9;
}
.list-group-item-action:focus, .list-group-item-action:hover{
  color: #fff !important;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 10px 30px;
}
.collapse a{
  color: #000;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}